
LizyKitchen.Tests/obj/Debug/LizyKitchen.Tests.csproj.CoreCompileInputs.cache
*.cache
LizyKitchen.Tests/obj/Debug/LizyKitchen.Tests.csproj.CoreCompileInputs.cache
LizyKitchen.Tests/obj/Debug/LizyKitchen.Tests.csproj.CoreCompileInputs.cache
LizyKitchen.Tests/obj/Debug/LizyKitchen.Tests.csproj.FileListAbsolute.txt
LizyKitchen.userprefs
LizyKitchen.Tests/obj/Debug/LizyKitchen.Tests.pdb
LizyKitchen.Tests/obj/Debug/LizyKitchen.Tests.dll
LizyKitchen.Tests/obj/Debug/LizyKitchen.Tests.csprojResolveAssemblyReference.cache
LizyKitchen/bin/LizyKitchen.dll
LizyKitchen/bin/LizyKitchen.pdb
LizyKitchen/obj/Debug/LizyKitchen.csproj.CoreCompileInputs.cache
LizyKitchen/obj/Debug/LizyKitchen.csprojResolveAssemblyReference.cache
LizyKitchen/obj/Debug/LizyKitchen.dll
LizyKitchen/obj/Debug/LizyKitchen.pdb
LizyKitchen.Tests/bin/Debug/LizyKitchen.dll
LizyKitchen.Tests/bin/Debug/LizyKitchen.pdb
LizyKitchen.Tests/bin/Debug/LizyKitchen.Tests.dll
LizyKitchen.Tests/bin/Debug/LizyKitchen.Tests.pdb
